/* Google Fonts: Noto Sans JP (400,700) */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

body,
.font-sans {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Liberation Sans",
    "Nimbus Sans", "sans-serif" !important;
}
